@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(10,10,10);
    color:  rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    
    font-family: 'Orbitron', sans-serif;
}
h1{
    font-size: 20px;
    margin-bottom: 30px;
    font-family: Verdana, Tahoma, sans-serif;
}
header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}
.share-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240,240,240);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: rgb(240,240,240);
}
.container{
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    overflow: hidden;
}
.image-container img{
    width:100% ;
    height:100%;
}
.float{
    width: 100%;
    background-color: rgba(37,37,37);
    margin: 7px;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
}
.float-share-button{
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(52,52,52);
        
}
.float-share-button svg{
    margin-left: 12px;
    margin-top: 10px;
}
.icon{
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}

.share-button svg{
    margin-left: 12px;
    margin-top: 10px;
    color: black;
}

.float:hover{
    transition: cubic-bezier(0.07,1.41,0.82,1.41) 0.5s;
    transform: scale(1.02);
}

.share-button:hover{
    background-color:rgb(52,52,52) ;
    color: white;
}